/* Footer */
.footer {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 526px;
    padding-top: 80px;
}

.footer-image {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.footer-main-wraper-follow {
    margin-bottom: 88px;
    display: flex;
    flex-direction: column;
}

.footer-info {
    width: 570px;
    margin-right: 30px;
}

.footer-main ,
.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info-wraper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;
}
/* Icon */
.footer-info-img {
    margin: 10px 0px 40px 0px;
}

.footer-info-img__social:not(:first-child) {
    margin-left: 40px;
    transition: 0.2s ease-in-out;
}

.footer-info-img__social:hover {
    background: #FFEAA7;
    border-radius: 99px;
}
/* Text */
.footer-main__text-b {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #6C5CE7;
}

.footer__text-title {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ADADAD;
}

.footer-info-wraper__text {
    width: 170px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #2D3436;
    margin-bottom: 16px;
}

.footer-info-wraper__text:nth-child(2) {
    text-decoration-color: #2D3436;
    text-decoration-line: underline;
}
/* Form */
.footer-main-form {
    flex-flow: row wrap;
    width: 600px;
    margin-top: 30px;
}

.footer-main-form__input-name ,
.footer-main-form__input-email {
    border-radius: 16px;
    width: 270px;
    height: 48px; 
    border: 0px;
}

.footer-main-form__input-email {
    background: rgb(194 194 194 / 24%) url("../img/icon-mail.svg") no-repeat;
    background-position: right;

}

.footer-main-form__input-name {
    background: rgb(194 194 194 / 24%) url("../img/icon-user.svg") no-repeat;
    background-position: right;
    margin:0px 30px 30px 0px;
}

.footer-main-form__textarea-message {
    width: 370px;
    height: 80px;
    margin-right:30px;
    background: rgb(194 194 194 / 24%) url("../img/icon-edit.svg") no-repeat;
    background-position: right top 4px;
    border: 2px solid rgb(108 92 231 / 24%);
    border-radius: 16px;
    resize: none;
}

.footer-main-form__button {
    width: 170px;
    height: 80px;
    border: 0px;
    border-radius: 16px;
    background: #6C5CE7;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(38, 50, 56, 0.1), 0px 16px 32px rgba(38, 50, 56, 0.08);
    text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}

.footer-main-form__input-name::placeholder ,
.footer-main-form__input-email::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 8px 16px 8px 16px;
    color: #2D3436;
}

.footer-main-form__textarea-message::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding: 16px;
    color: #6C5CE7;
}

.footer-main-form-wraper {
    display: flex;
}